* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  margin: 1in auto;
}
h1 {
  text-align: center;
}

#canvases {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

canvas {
  border: 1px dotted grey;
}

#image {
  display: none;
}

figcaption {
  text-align: center;
}
