* {
  font-size: 18px;
  font-family: sans-serif;
}

body {
  width: 40em;
  margin: 1in auto;
}

textarea,
p {
  width: 100%;
  padding: 6px;
}

#plaintext,
#ciphertext {
  height: 25vh;
}

#ciphertext {
  border: thin solid black;
}

input[type="range"] {
  margin-left: 1em;
  vertical-align: middle;
}