body {
  width: 40em;
  margin: 1in auto;
}

h1 {
  font-family: sans-serif;
  text-align: center;
}

.options {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.options a {
  border: 1px solid grey;
  text-align: center;
  font-size: 48px;
  text-decoration: none;
  font-family: "Gill Sans";
  border-radius: 4px;
  background: #ddfa;
}
