body {
  width: fit-content;
  margin: 1in auto;
}

svg {
  width: 900px;
  height: 800px;
  user-select: none;
}

text {
  font-family: "Gill Sans";
}

.item text {
  font-weight: 300;
}

h1 {
  font-family: sans-serif;
}

p {
  font-size: 18px;
}
